<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/homenavbar.ejs') %>
    <div class="container mt-5">

        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-header p-4">
                    <h4>
                        <%= article.title %> 
                    </h4>
                </div>
                <div class="card-body">
                    <a href="/<%=article.slug%>" class="btn btn-primary"> 
                        ler artigo 
                    </a>
                </div>
            </div>
        <% }) %>

    </div>

</body>
<%- include('partials/end.ejs') %>